/*
COLORS:

*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'lato', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.7;
  color: #777;
}

.header {
  height: 95vh;
  background-image: linear-gradient(
      to right bottom,
      rgba(0, 0, 0, 0.205),
      rgba(0, 0, 0, 0.199)
    ),
    url(../img/hero.jpg);
  background-size: cover;
  background-position: top;
  clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);
}
