.popup {
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba($black, 0.8);
  z-index: 9999;
  backface-visibility: hidden;
  // opacity: 0;
  // visibility: hidden;
  transition: all 0.3s ease;

  &__content {
    width: 75%;
    box-shadow: 0 2rem 4rem rgba($black, 0.3);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    border-radius: 2px;
    overflow: hidden;
    // opacity: 0;
    animation: slideUp 1s ease;
  }

  &__title {
    background-clip: text;
    color: transparent;
    font-size: 2.35rem;
    font-weight: 700;
    letter-spacing: 1px;
    margin-bottom: 1rem;
    text-transform: uppercase;
    -webkit-background-clip: text;

    background-image: linear-gradient(
      to right,
      darken($turqouise, 10%),
      darken($turqouise, 25%)
    );
  }

  &__subtitle {
    text-transform: uppercase;
    font-size: 1.1rem;
    margin-bottom: 1rem;
  }

  &__left {
    backface-visibility: hidden;
    display: grid;
    grid-auto-columns: 100%;
    width: 100%;
  }

  &__right {
    grid-column: 2/4;
    background-color: white;
    padding: 2.5rem 3rem;
  }

  &__img {
    width: 100%;
    grid-template-columns: repeat(2, 1fr);
  }

  &__text {
    margin-bottom: 2rem;
  }

  &__close {
    position: absolute;
    top: 1.5rem;
    right: 1rem;
    font-size: 2.25rem;
    cursor: pointer;
    line-height: 0;

    &:link,
    &:visited {
      color: $grey;
      text-decoration: none;
    }

    &:hover,
    &:active {
      color: $turqouise;
    }
  }
}

@keyframes slideUp {
  from {
    top: 1000px;
    opacity: 0;
  }
  to {
    top: 50%;
    opacity: 1;
  }
}
