.features {
  background-image: linear-gradient(
      to bottom,
      rgba($turqouise, 0.3),
      rgba($turqouise, 0.6)
    ),
    url(../img/featuresbg.jpg);
  background-size: cover;
  background-position: top;
  padding: 7.5rem 0;
  transform: skewY(-3.5deg);
  margin-top: -7.5rem;

  @include respond(phone) {
    padding: 5rem 0;
  }

  &__title {
    color: $grey;
    font-size: 2.35rem;
    font-weight: 700;
    letter-spacing: 1px;
    margin-bottom: 2rem;
    text-transform: uppercase;
    transform: skewY(3.5deg);
    text-align: center;
    @include respond(tablet-port) {
      margin-bottom: 12.5rem;
    }
  }

  &__block {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1rem;
    transform: skewY(3.5deg);

    @include respond(tablet-port) {
      margin-top: -8.5rem;
      display: inline-block;
    }
  }

  &__box {
    background-color: rgba($white, 0.825);
    border-radius: 2px;
    text-align: center;
    box-shadow: 0 1rem 4rem rgba($black, 0.15);
    padding: 1.5rem 0.5rem;
    transition: 0.3s all ease;

    @include respond(tablet-port) {
      width: 100%;
      margin-bottom: 2rem;
    }

    &:hover {
      transform: translateY(-1rem) scale(1.03);
      box-shadow: 0 3rem 4rem rgba($black, 0.15);
    }

    & svg {
      fill: $turqouise2;
      height: 5rem;
    }

    & p {
      @include respond(tablet-port) {
        font-size: 1.15rem;
      }
    }
  }

  &__icon--one {
    width: 3.5rem;
  }

  &__icon--two {
    width: 4rem;
  }

  &__icon--three {
    width: 3rem;
  }

  &__icon--four {
    width: 4.75rem;
  }

  &__heading {
    padding: 0.3rem 0 0.5rem 0;
  }

  &__text {
    font-size: 0.92rem;
    width: 90%;
    margin: 0 auto;
  }
}
