.footer {
  background-color: #333;
  color: grey;
  padding: 4rem 0;

  &__icon-box {
    width: 100%;
    text-align: center;
    margin-bottom: 1rem;
  }
  &__icon {
    fill: $turqouise;
    height: 4rem;
    left: 1.25rem;
    top: 1.25rem;
    width: 4rem;
  }

  &__content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 5rem;

    @include respond(large-phone) {
      display: block;
    }

    &-one,
    &-two {
      padding-top: 1rem;
      border-top: 2px solid $grey;
    }

    &-one {
      @include respond(large-phone) {
        border-top: none;
      }
    }

    &-two {
      @include respond(large-phone) {
        margin-top: 1rem;
      }
    }
  }

  &__list {
    list-style: none;

    @include respond(large-phone) {
      text-align: center;
    }

    &-item {
      display: inline-block;
      &:not(:last-child) {
        margin-right: 0rem;
      }
    }
  }

  &__link {
    font-size: 0.95rem;
    padding: 0 0.5rem;
    &:link,
    &:visited {
      color: grey;
      text-decoration: none;
      text-transform: uppercase;
      display: inline-block;
      transition: all 0.3s ease;
    }

    &:active,
    &:hover {
      color: $turqouise;
      box-shadow: 0 0.1rem 0.5rem rgba($black, 0.4);
    }
  }

  &__copyright {
    @include respond(large-phone) {
      margin-top: 0.5rem;
      text-align: center;
    }
  }

  &__special-word {
    font-size: 0.95rem;
    padding: 0 0.1rem;
    &:link,
    &:visited {
      color: rgb(194, 194, 194);
      text-decoration: none;

      display: inline-block;
      transition: all 0.3s ease;
    }

    &:active,
    &:hover {
      color: $turqouise;
      box-shadow: 0 0.1rem 0.5rem rgba($black, 0.4);
    }
  }
}
