.testimonial {
  display: block;
  overflow: hidden;
  padding: 5rem 0;
  position: relative;
}

.story {
  background-color: rgba($grey-light1, 0.65);
  border-radius: 2px;
  box-shadow: 0 3rem 3rem rgba($black, 0.1);
  height: 13rem;
  margin: 0 auto;
  margin-bottom: 3rem;
  padding: 2rem 3rem 2rem 4rem;
  transform: skewX(-12deg);
  width: 80%;

  &__title {
    background-clip: text;
    color: transparent;
    font-size: 2.35rem;
    font-weight: 700;
    letter-spacing: 1px;
    margin-bottom: 4rem;
    text-align: center;
    text-transform: uppercase;
    -webkit-background-clip: text;

    background-image: linear-gradient(
      to right,
      darken($turqouise, 10%),
      darken($turqouise, 25%)
    );
  }

  @include respond(tablet-land) {
    height: 15rem;
    transform: skewX(-12deg);
  }

  @include respond(tablet-port) {
    height: 22.5rem;
    padding: 1rem 1rem 1rem 1rem;
    transform: skewX(0);
    width: 100%;
  }

  @include respond(large-phone) {
    height: 33rem;
    padding: 1rem 1rem 1rem 1rem;
    transform: skewX(0);
    width: 100%;
  }

  &__shape {
    clip-path: circle(50% at 50% 50%);
    display: block;
    float: left;
    height: 9rem;
    position: relative;
    shape-outside: circle(50% at 50% 50%);
    transform: translateX(-1.25rem) skewX(12deg);
    width: 9rem;

    @include respond(tablet-port) {
      float: none;
      margin: 0 auto;
      transform: translateX(0) skewX(0);
    }
  }

  &__image {
    display: block;
    transform: translateY(-2rem);
    transition: all 0.5s ease;
    width: 100%;
  }
  &__text {
    transform: skewX(12deg);
    @include respond(tablet-port) {
      transform: skewX(0);
    }
    margin-top: 0.3rem;
  }

  &__heading {
    @include respond(tablet-port) {
      margin-bottom: 0.75rem;
      text-align: center;
    }
  }

  & p {
    @include respond(tablet-port) {
      font-size: 1.1rem;
      text-align: center;
    }
  }

  &__caption {
    backface-visibility: hidden;
    display: inline-block;
    color: $white;
    font-weight: 400;
    left: 50%;
    opacity: 0;
    position: absolute;
    text-align: center;
    text-transform: uppercase;
    top: 50%;
    transform: translate(-50%, 20%);
    transition: all 0.5s ease;
  }

  &:hover &__caption {
    opacity: 1;
    transform: translate(-50%, -50%);
  }

  &:hover &__image {
    filter: blur(4px) brightness(60%);
    transform: translateY(-2rem);
  }

  &-cta {
    text-align: center;
    width: 100%;
  }

  &-btn {
    border-bottom: 2px solid $turqouise1;
    border-radius: 2px;
    color: $turqouise1;
    display: inline-block;
    font-size: 1.25rem;
    padding: 0 0.5rem;
    text-decoration: none;
    transition: all 0.3s ease;

    &:active,
    &:hover {
      background-color: $turqouise1;
      color: $white;
    }
  }
}

.bg-video {
  height: 100%;
  left: 0;
  opacity: 0.25;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -1;

  &__content {
    height: 100%;
    object-fit: cover;
    width: 100%;
  }
}
